body {
    margin: 0;
    background: #333;
    color: wheat;
}

footer {
    margin-top: 20px;
    box-shadow: 10px 10px 5px #000;
    border: 1px solid #8a4419;
    background-color: #333;
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    /*background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;*/
    background-size: cover;
    transition: 1s opacity;
}

#main-container {
    width: 80%;
    margin: 0 auto;
    text-align: center;

}

#content {
    min-height: 700px;
    width: 80%;
    margin: 20px auto 0;
    box-shadow: 10px 10px 5px #000;
    border: 1px solid #8a4419;
    background-color: #333;
}

.outer-wrapper {
    display: table;
    width: 100%;
    height: 100%;
}

.inner-wrapper {
    display:table-cell;
    vertical-align:middle;
    padding:15px;
}
.login-btn { position:fixed; top:15px; right:15px; }

.credit-status {
    -webkit-border-top-left-radius: 1px;
    -webkit-border-top-right-radius: 2px;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 4px;

    -moz-border-radius-topleft: 1px;
    -moz-border-radius-topright: 2px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 4px;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

    width: 10px;
    height: 10px;

    display: inline-block;
    margin-left: 5px;
}

.status-active {
    background-color: greenyellow;
}

.status-inactive {
    background-color: red;
}

.undefined {
    background-color: beige;
}

.cursor {
    cursor: pointer;
}